<body background="/assets/lake-front.jpg" >

<div class="edit-form">

<h2>Edit Profile</h2>
  



<%= form_tag "/profiles/#{@profile.id}", method: :patch do %>

       <div class= "forms">
        <%= label_tag :first_name %>
        <%= text_field_tag :first_name, @profile.first_name %>
      </div>

      
      <div class= "forms">
        <%= label_tag :last_name %>
        <%= text_field_tag :last_name, @profile.last_name %>
      
      </div>

      

      <div class= "forms">
        <%= label_tag  :quote %>
        <%= text_field_tag :bio, @profile.bio %>
      </div> 

      <br>
      
     
      <div><%= submit_tag 'Save' %></div>
      <% end %>



      
    <br>

    <button type="button" class="btn btn-info"><a href="/uploads/new">Add Avatar</a></button>

</div>
      


 