<body background="/assets/lake-front.jpg" >


<div class="profile-show">

  <% if @upload %>
<img src="<%= @upload.name.medium %> " class="img-rounded" >
<% end %>

<h2><%= @profile.first_name %></h2>
<h4><%= @profile.email %></h4>
<h1>"<%= @profile.bio %>"</h1>
  <br>

<% if current_user.id == @profile.id %>

  <button type="button" class="btn btn-info"><a href="/profiles/<%= @profile.id %>/edit">Edit profile</a></button>

  <button type="button" class="btn btn-info"><a href="/uploads/new">Add Avatar</a></button>

 

<% end %>





</div>


<div class="profile-buttons">

  <a class="btn btn-outline-light page-scroll" href="/profiles/<%= @profile.id %>/created_rides"><%= @profile.first_name%>'s Created Rides </a>

 <a class="btn btn-outline-light page-scroll" href="/profiles/<%= @profile.id %>/joined_rides"><%= @profile.first_name%>'s Joined Rides </a>


</div>

  
</body>
