<h1>Hello World</h1>

<h1><a href="/profiles/<%= @profile.id %>/edit">Edit profile</a></h1>

<img src="<%= @profile.avatar %>" alt="">  
<h3><%= @profile.email %></h3>
<h3><%= @profile.first_name %></h3>
<h3><%= @profile.last_name %></h3>
<h3><%= @profile.bio %></h3>
