<body background="/assets/theme/bg-pricing.jpg" >


  <div class="create-form">


<h1> Create A Ride </h1>



<%= form_tag '/group_rides', method: :post do %>



      <div class= "forms">
        <%= label_tag :name_of_ride %>
        <%= text_field_tag :name %>
      </div>

      <div class= "forms">
        <%= label_tag :ride_type %> 
        <%= text_field_tag :ride_type  %>
      </div>

      <div class= "forms">
        <%= label_tag :description %>  
        <%= text_field_tag :description  %>
      </div> 

      
      <div class= "forms">
        <%= label_tag :length_in_miles %>
        <%= text_field_tag :length %>
      </div>


      <div class= "forms">
        <%= label_tag :time %>
        <%= text_field_tag :time %>
      </div>


      <div class= "forms">
        <%= label_tag :date %>
        <%= text_field_tag :date %>
      </div>
      
      <div class= "forms">
        <%= label_tag :address %>
        <%= text_field_tag :address %>
      </div>

  

      <div><%= submit_tag 'Save' %></div>


      <% end %>

</div>


  
</body>