
<h4><a href="/group_rides">Home</a></h4>

<h1> <%= @sr.name %></h1>
<h4>Ride Type: <%= @sr.ride_type %></h4>
<h4>Ride Length: <%= @sr.length %> Miles </h4>
<h4>When: <%= @sr.time %></h4>
<h4>Description: <%= @sr.description %></h4>
<h4> Made By: <%= @sr.creator_name %></h4>

<h4><a href="/group_rides/<%= @sr.id %>/edit">Edit Ride</a></h4>


 <h4>  <a data-confirm="Are you sure ?" data-method="delete" href="/group_rides/<%= @sr.id %>" rel= "nofollow"><div class= "delete">Delete</div> </a> </h4>
