<!DOCTYPE html>
<html>
<head>
  <title>BikeApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
        <% if current_user %>
       <h3>Signed in as: <%= current_user.email %></div></h3>
                <li> <a href="/users/sign_out" method="delete">Sign out</a> </li> 
        <% else %>
              <li><a href="/users/sign_in">Sign in</a></li>
        <% end %>
<%= yield %>

</body>
</html>
